<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="spoke" connectionString="Server=devsqli02.npcore.notprod.local;Database=Customer;Trusted_Connection=True" providerName="System.Data.SqlClient"/>
    <add name="spokePostgres" connectionString="Host=127.0.0.1;Port=5432;Username=postgres;Password=postgres;Database=Spoke" providerName="Npgsql"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant ="Npgsql" description ="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>
</configuration>
